:root {
  --violet: hsl(263, 55%, 52%);
  --darkgrayblue: hsl(217, 19%, 35%);
  --blackblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 81%);
  --lightgrayblue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--lightgrayblue);
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  margin: 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.grid {
  display: grid;
  margin: 1rem 0;
}

.review {
  background-color: var(--violet);
  color: var(--lightgray);
  display: grid;
  margin: 0.75rem;
}