:root {
  --violet: hsl(263, 55%, 52%);
  --darkgrayblue: hsl(217, 19%, 35%);
  --blackblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 81%);
  --lightgrayblue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--lightgrayblue);
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  padding: 1.5rem 0.75rem;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.author {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.author-details {
  font-size: 0.72rem;
  grid-column: 2;
  line-height: 1.4;
  order: 2;
}

.author-name {
  font-size: 0.8rem;
}

.author-pic {
  border: 2px solid hsla(0, 0%, 81%, 0.5);
  border-radius: 100%;
  grid-column: 1;
  order: 1;
  width: 1.75rem;
}

.author-title {
  opacity: 0.5;
}

.black {
  background-color: var(--blackblue);
}

.gray {
  background-color: var(--darkgrayblue);
}

.grid {
  display: grid;
  margin: 1rem 0;
}

.purple {
  background-color: var(--violet);
  background-image: url('./images/bg-pattern-quotation.svg');
  background-position: 90% 0%;
  background-repeat: no-repeat;
}

.review {
  background-color: var(--violet);
  border-radius: 0.5rem;
  box-shadow: 40px 50px 50px -30px var(--lightgray);
  color: var(--lightgrayblue);
  display: grid;
  margin: 0.75rem;
  padding: 1.75rem;
}

.summary {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.quote {
  line-height: 1.5;
  opacity: 0.7;
}

.white {
  background-color: var(--white);
  color: var(--darkgrayblue);
}